<div class="relative w-full ">
  <!-- <router-outlet /> -->
  <div class="absolute w-full">
    <!-- header  -->
    <div class="bg-orange-700 p-1">
      <p class="text-center text-white m-0">ĐƠN VỊ CUNG CẤP GỐM SƯ CHUẨN BÁT TRÀNG UY TÍN, CHẤT LƯỢNG</p>
    </div>
    <div class="text-4xl text-center py-3 style-logo bg-white">
      GỐM SỨ MINH TRANG
    </div>
    <!-- sub navbar  -->
    <div class="w-full flex justify-content-center">
      <p-menubar [model]="listMegaMenu" class="w-9">
          <ng-template pTemplate="item" let-item let-root="root">
              <a pRipple class="flex align-items-center p-menuitem-link">
                  <span class="ml-2">{{ item.label }}</span>
                  <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
              </a>
          </ng-template>
          <ng-template pTemplate="end">
              <div class="flex align-items-center gap-2">
                  <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
                  <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
              </div>
          </ng-template>
      </p-menubar>
  </div>
    <!-- BreadCrumb -->
     <div class="flex w-full justify-content-start sm:justify-content-center">
      <div class="w-full">
        <router-outlet></router-outlet>
      </div>
     </div>

  </div>

</div>
